.red_text {
	color: #FF0201;
}

.brown_text {
	color: #635C09;
}

.blue_text {
	color: #0277AC;
}

.yellow_text {
	color: #FAA700;
}

.purple_text {
	color: #6E05AF;
}

.btn-primary {
	background-color: #4CAE4C;
}